<ion-view style="" class=" " id="page6" title="Ayuda">
    <ion-content class="has-header" padding="true">
        <ion-list class=" " id="ayuda-list3">
            <ion-item style="" class="  " ui-sref="taxiClub.CMoFuncionaTaxiClub" id="ayuda-list-item15">¿Cómo funciona TaxiClub?</ion-item>
            <ion-item style="" class="  " ui-sref="taxiClub.CMoPidoUnTaxi" id="ayuda-list-item16">¿Cómo pido un taxi?</ion-item>
            <ion-item style="" class="  " ui-sref="taxiClub.PuedoReservarUnTaxi" id="ayuda-list-item17">¿Puedo reservar un taxi?</ion-item>
            <ion-item style="" class="  " ui-sref="taxiClub.otra" id="ayuda-list-item18">Otra</ion-item>
        </ion-list>
    </ion-content>
</ion-view>