<ion-view style="" class=" " id="page16" title="Configuración">
    <ion-content class="has-header" padding="true">
        <form class="list " id="configuraciN-form3">
            <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
                <i style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" class="icon ion-image"></i>
            </div>
            <ion-list class=" " id="configuraciN-list6">
                <label id="configuraciN-input6" class="item item-input ">
                    <span class="input-label">Nombre</span>
                    <input placeholder="" type="text">
                </label>
                <label id="configuraciN-input7" class="item item-input ">
                    <span class="input-label">Apellido</span>
                    <input placeholder="" type="text">
                </label>
                <label id="configuraciN-input8" class="item item-input ">
                    <span class="input-label">Correo electrónico</span>
                    <input placeholder="" type="text">
                </label>
            </ion-list>
        </form>
    </ion-content>
</ion-view>