<ion-view style="" class=" " id="page11" title="Crear cuenta">
    <ion-content class="has-header" padding="true">
         <img src="img/taxiclub.jpg"
         width="98"
         height="98" style="display: block; margin: 0 auto;">
        <form class="list " ng-submit="registro(usuario)">
            <input type="text" ng-model="usuario.nombre" class="sign-up-input" placeholder="Nombre" autofocus required>
            <input type="text" ng-model ="usuario.apellido" class="sign-up-input" placeholder="Apellidos" required>
            <input type="text" ng-model ="usuario.correo" class="sign-up-input" placeholder="Correo" autofocus required>
            <input type="password" ng-model ="usuario.pass" class="sign-up-input" placeholder="Contraseña" required>
            <input type="submit" value="Registrarse" class="sign-up-button">
            <a class=" button button-positive  button-block button-clear " id="login-button2" ui-sref="taxiClub.login">Ingresar</a>
        </form>
    </ion-content>
</ion-view>