<ion-view style="" class=" " id="location" title="Ubicacion">
    <ion-content class="has-header" padding="true">
        <form class="list">
          <label class="item item-input">
            <span class="input-label">Latitud</span>
            <input ng-model ="lat" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Longitud</span>
            <input ng-model ="lng" type="text">
          </label>
        </<form>
        <button class="button button-block button-positive" ng-click="writedir()">
          Activo
        </button>
    </ion-content>
</ion-view>