<ion-view style="" class=" " id="location" title="Ubicacion">
    <ion-content class="has-header" padding="true">
        <form class="list">
          <label class="item item-input">
            <span class="input-label">Usuario</span>
            <!--<input ng-model ="user.ID" type="text" ng-disabled="true">-->
            {{user.ID}}
          </label>
          <label class="item item-input">
            <span class="input-label">Latitud</span>
            <input ng-model ="lat" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Longitud</span>
            <input ng-model ="lng" type="text">
          </label>
          <label class="item item-input">
            <span class="input-label">Angulo</span>
            <input ng-model ="ang" type="text">
          </label>
        </<form>
        <button class="button button-block button-energized" ng-disabled="isDisabled" ng-click="writedir()">
          Activo
        </button>
        <button class="button button-block button-assertive" ng-click="inactivedir()">
          Inactivo
        </button>
    </ion-content>
</ion-view>