<ion-side-menus style="" enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-energized">
            <!--<ion-nav-back-button></ion-nav-back-button>-->
            <ion-nav-buttons side="left">
                <button id="menubtn" class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-energized">
            <div class="title">TaxiClub</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left has-header">
            <ion-list class=" " id="taxiClub-list7">
                <ion-item style="" menu-close="" ui-sref="taxiClub.mapa" id="taxiClub-list-item9" class="item-icon-left">
                    <i class="icon ion-android-arrow-back"></i>Cerra menú</ion-item>
                <ion-item style="" menu-close="" ui-sref="taxiClub.configuraciN" id="taxiClub-list-item4" class="item-icon-left">
                    <i class="icon ion-android-settings"></i>Configuración</ion-item>
                <ion-item style="" menu-close="" ui-sref="taxiClub.configuraciN" id="taxiClub-list-item4" class="item-icon-left">
                <i class="icon ion-android-settings"></i>Historial</ion-item>
                <ion-item style="" menu-close="" ui-sref="taxiClub.misLugares" id="taxiClub-list-item5" class="item-icon-left">
                    <i class="icon ion-ios-list-outline"></i>Mis lugares</ion-item>
                <ion-item style="" menu-close="" ui-sref="taxiClub.ayuda" id="taxiClub-list-item6" class="item-icon-left  ">
                    <i class="icon ion-information-circled"></i>Ayuda</ion-item>
                <ion-item style="" menu-close="" ui-sref="taxiClub.QuiNesSomos" id="taxiClub-list-item7" class="item-icon-left">
                    <i class="icon ion-person-stalker"></i>¿Quiénes somos?</ion-item>
                
                <ion-item style="" menu-close="" ui-sref="taxiClub.location" id="taxiClub-list-item8" class="item-icon-left">
                    <i class="icon ion-pin"></i>Ubicacion</ion-item>
                    
                <ion-item style="" menu-close="" ng-click="showSShare()" id="taxiClub-list-item9" class="item-icon-left">
                    <i class="icon ion-person-stalker"></i>Invitar a un Amigo</ion-item>
                <ion-item style="" menu-close="" ng-click="cerrarSesion()" id="taxiClub-list-item10" class="item-icon-left">
                    <i class="icon ion-android-cancel"></i>Cerrar sesión</ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>